# Tuple
*__Tuples are used to store multiple items in a single variable.__*

*__Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.__*

*__A tuple is a collection which is ordered and unchangeable.__*

*__Tuples are written with round brackets.__*

## creating Tuple

##### Empty Tuple

In [3]:
emp =()
# creating empty tuple

In [2]:
type(emp)

tuple

#### Method of creating tuple

In [8]:
city="haldwani",
print(city)

('haldwani',)

In [5]:
type(city)

tuple

In [20]:
city=("haldwani","kiccha")
print(city)
type(city)

('haldwani', 'kiccha')

tuple

## Diffrence between List and Tuple

##### Important differences between List and Tuple in Python


<Table style="text-align: left;">
    <tr  > <td style="text-align: left;">SR.NO.</td>	<td style="text-align: left;">LIST</td >	<td style="text-align: left;">TUPLE</td></tr>
    <tr><td>1	<td style="text-align: left;">Lists are mutable</td>	<td style="text-align: left;">Tuples are immutable</td></tr>
<tr><td>2</td>	<td style="text-align: left;">The implication of iterations is Time-consuming</td>	<td style="text-align: left;">The implication of iterations is comparatively Faster</td></tr>
<tr><td>3</td>	<td style="text-align: left;">The list is better for performing operations, such as insertion and deletion.</td>	<td style="text-align: left;">Tuple data type is appropriate for accessing the elements</td></tr>
<tr><td>4</td>	<td style="text-align: left;">Lists consume more memory</td>	<td style="text-align: left;">Tuple consumes less memory as compared to the list</td></tr>
<tr><td>5</td>	<td style="text-align: left;">Lists have several built-in methods	</td><td style="text-align: left;">Tuple does not have many built-in methods.</td></tr>
<tr><td>6</td>	<td style="text-align: left;">The unexpected changes and errors are more likely to occur</td>	<td style="text-align: left;">In tuple, it is hard to take place.</td></tr></table>

In [6]:
list1=[1,2,3,4]
tuple1=(1,2,3,4)
list1.append(5)
print(list1)

[1, 2, 3, 4, 5]

In [13]:
tuple1.append(5)#tupple can't be modified

AttributeError: 'tuple' object has no attribute 'append'

### Accessing the tuple from index

In [14]:
print(tuple1)

(1, 2, 3, 4)

In [16]:
tuple1[2]

3

In [10]:
tuple1[-1]

4

## Method in tuple

#### 1. Concatention

In [22]:
print(city)

('haldwani', 'kiccha')

In [12]:
num=1,2,5

In [24]:
print(city+num)

('haldwani', 'kiccha', 1, 2, 5)

#### 2.Nesting

In [25]:
nest1=(city,num)
print(nest1)

(('haldwani', 'kiccha'), (1, 2, 5))

#### 3.Repetition

In [27]:
rep=("lalit",)*10
print(rep)

('lalit', 'lalit', 'lalit', 'lalit', 'lalit', 'lalit', 'lalit', 'lalit', 'lalit', 'lalit')

In [29]:
rep=("lalit",)
print(rep*10)#not modifing the rep tuple only printing 10 times

('lalit', 'lalit', 'lalit', 'lalit', 'lalit', 'lalit', 'lalit', 'lalit', 'lalit', 'lalit')

#### 4. Slicing

In [13]:
num

(1, 2, 5)

In [15]:
num[1:]

(2, 5)

In [20]:
num[::-1] #printing through reverse order

(5, 2, 1)

# UnPacking

In [1]:
tuple("lalit")

('l', 'a', 'l', 'i', 't')

In [3]:
num=1,2,3,4

In [4]:
a,b,c,d=num

In [5]:
print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [7]:
a,*b,c=num
print(a)
print(b)
print(c)

1
[2, 3]
4

# Deleting a tuple

In [9]:
tuple1=(1,3,"lalit")
print(tuple1)

(1, 3, 'lalit')

In [10]:
del tuple1

In [11]:
print(tuple1)

NameError: name 'tuple1' is not defined

# Built in Function

In [12]:
num1=(2,4,8,8,8,7)

In [15]:
num1.count(8)# to count occurance of a number

3

In [14]:
sum(num1)

37

In [16]:
len(num1)

6

In [17]:
max(num1)

8

In [18]:
min(num1)

2

# Converting list to tuple

In [19]:
lst=[1,2,3,4,5] #list
print(type(lst))

<class 'list'>

In [20]:
tpl =tuple(lst)#coversion of list to tuple

# Nesting tuples in a list

In [22]:
lst =[(1,5,4),("lalit","singh","trickster")]

In [23]:
print(lst)

[(1, 5, 4), ('lalit', 'singh', 'trickster')]

In [24]:
lst.append((12,"lalit")) #adding new tuple to a list
print(lst)

[(1, 5, 4), ('lalit', 'singh', 'trickster'), (12, 'lalit')]

In [25]:
lst.remove((1,5,4)) #removing tuple to a list
print(lst)

[('lalit', 'singh', 'trickster'), (12, 'lalit')]

In [27]:
print(lst[0][2])#print the 2nd index of tuple from the 0th index of list

trickster

# nesting List in Tuple

In [28]:
tpl=([1,2,3,4],[4,"lalit"])
print(tpl)

([1, 2, 3, 4], [4, 'lalit'])

In [30]:
tpl[0].append("hello")#appending the element in 0th index of tuple having list
print(tpl)

([1, 2, 3, 4, 'hello', 'hello'], [4, 'lalit'])