# Dictionaries
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
<h3 style="color:red;"> Creating Dictionaries</h3>

In [1]:
d1={}
print(type(d1))

<class 'dict'>

In [3]:
d2={1:"lalit",2:"singh",3:"trickster"}
print(d2)

{1: 'lalit', 2: 'singh', 3: 'trickster'}

In [18]:
d3={"name":"lalit","course":"BCA","rollno":27}
print(d3)

{'name': 'lalit', 'course': 'BCA', 'rollno': 27}

In [5]:
d4=dict({"name":"lalit","course":"BCA","rollno":27}) 
print(d4)

{'name': 'lalit', 'course': 'BCA', 'rollno': 27}

In [6]:
d5=dict([(1,"lalit"),(2,"singh"),(3,"trickster")]) #through list carying a tuples
print(d5)

{1: 'lalit', 2: 'singh', 3: 'trickster'}

In [8]:
d6={"name":{"first":"lalit","last":"singh"},"age":20,"course":"Bca"} #nesting 
print(d6)

{'name': {'first': 'lalit', 'last': 'singh'}, 'age': 20, 'course': 'Bca'}

<h3 style="color:red;"> Adding elements</h3>

In [9]:
d={}
d[0]="lalit"
print(d)

{0: 'lalit'}

In [10]:
d["name"]="lalit"
print(d)

{0: 'lalit', 'name': 'lalit'}

In [11]:
print(d.get("name"))

lalit

<h3 style="color:red;"> Deleting elements</h3>

In [12]:
print(d)

{0: 'lalit', 'name': 'lalit'}

In [13]:
d.pop(0)
print(d)

{'name': 'lalit'}

In [15]:
print(d3)

{'name': 'lalit', 'course': 'BCA', 'rollno': 27}

In [16]:
d3.popitem()

('rollno', 27)

In [17]:
print(d3)

{'name': 'lalit', 'course': 'BCA'}

<h3 style="color:red;"> In-built function Dictionaries</h3>

In [19]:
print(d3)

{'name': 'lalit', 'course': 'BCA', 'rollno': 27}

In [22]:
d3.values()

dict_values(['lalit', 'BCA', 27])

In [28]:
keys={'a','b','c','d'}
values=1
dict.fromkeys(keys,values)

{'d': 1, 'b': 1, 'c': 1, 'a': 1}

In [29]:
d3.clear()

In [30]:
print(d3)

{}

# Set in python
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

In [7]:
## Create a Set:

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [8]:
type(thisset)

set

## Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

## Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

## Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

## Duplicates Not Allowed
Sets cannot have two items with the same value.

In [9]:
# Example
# Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'apple', 'cherry', 'banana'}

## The values True and 1 are considered the same value in sets, and are treated as duplicates:

In [10]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'cherry', 'banana', 'apple'}

## Get the Length of a Set
To determine how many items a set has, use the len() function.

In [11]:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

# Set Items - Data Types

In [13]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'apple', 'cherry', 'banana'}
{1, 3, 5, 7, 9}
{False, True}

## A set can contain different data types:

In [15]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 'abc', 'male', 40}

## The set() Constructor
#### It is also possible to use the set() constructor to make a set.

In [16]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)
print(type(thisset))

{'apple', 'cherry', 'banana'}
<class 'set'>

# Python - Access Set Items

Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [14]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x[0:3])

app
ban
che

In [18]:
# Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

# Python - Add Set Items
Once a set is created, you cannot change its items, but you can add new items.

To add one item to a set use the add() method.

In [19]:
thisset = {"apple", "banana", "cherry"}

thisset.add("mangoo")

print(thisset)

{'apple', 'banana', 'mangoo', 'cherry'}

## Add Sets
To add items from another set into the current set, use the update() method.##

In [21]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "apple","mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'cherry', 'papaya', 'banana', 'pineapple', 'mango'}

# Add Any Iterable
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [23]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)
print(type(thisset))
print(type(mylist))

{'cherry', 'banana', 'orange', 'apple', 'kiwi'}
<class 'set'>
<class 'list'>

# Python - Remove Set Items

Remove Item
To remove an item in a set, use the remove(), or the discard() method.

In [24]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [25]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [26]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

## The clear() method empties the set:

In [28]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

## The del keyword will delete the set completely:

In [29]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

# Python - Join Sets
here are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

#### The union() method returns a new set with all items from both sets:

In [30]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

#### The update() method inserts the items in set2 into set1:

In [31]:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

## Keep ONLY the Duplicates
Keep ONLY the Duplicates

In [32]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [33]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

## Keep All, But NOT the Duplicates
The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [34]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'banana', 'microsoft', 'google'}

In [35]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'banana', 'google', 'microsoft'}

## Set Methods
#### Python has a set of built-in methods that you can use on sets.


add()	:- Adds an element to the set

clear() 	Removes all the elements from the set

copy()	Returns a copy of the set

difference()	Returns a set containing the difference between two or more sets

difference_update()	Removes the items in this set that are also included in another, specified set

discard()	Remove the specified item

intersection()	Returns a set, that is the intersection of two other sets

intersection_update()	Removes the items in this set that are not present in other, specified set(s)

isdisjoint()	Returns whether two sets have a intersection or not

issubset()	Returns whether another set contains this set or not

issuperset()	Returns whether this set contains another set or not

pop()	Removes an element from the set

remove()	Removes the specified element

symmetric_difference()	Returns a set with the symmetric differences of two sets

symmetric_difference_update()	inserts the symmetric differences from this set and another

union()	Return a set containing the union of sets

update()	Update the set with the union of this set and others